<!--  Upper Header Section  -->
<div class="navbar navbar-inverse navbar-fixed-top">
 <div class="topNav">
    <div class="container">
       <div class="alignR">
          <div class="pull-left socialNw">
             <a href="#"><span class="icon-twitter"></span></a>
             <a href="#"><span class="icon-facebook"></span></a>
             <a href="#"><span class="icon-youtube"></span></a>
             <a href="#"><span class="icon-tumblr"></span></a>
          </div>
          <a routerLinkActive="active" [routerLink]="['home']"> 
            <span class="icon-home"></span> Home</a> 
          <a routerLinkActive="active" [routerLink]="['/my-account']">
            <span class="icon-user"></span> My Account</a> 
          <a routerLinkActive="active" [routerLink]="['register']">
            <span class="icon-edit"></span> Free Register </a> 
          <a routerLinkActive="active" [routerLink]="['contact-us']">
            <span class="icon-envelope"></span> Contact us</a>
          <a routerLinkActive="active" [routerLink]="['my-cart']">
            <span class="icon-shopping-cart"></span> 2 Item(s) - <span class="badge badge-warning"> $448.42</span></a>
       </div>
    </div>
 </div>
</div>